<div ng-controller="SecondModule as vm">
    <h1>Second Module</h1>
    <button class="btn btn-info" ng-click="vm.show = !vm.show">Toggle ControllerAs Syntax</button>

    <div ng-controller="ParentController as parent" ng-if="vm.show">
        <h3>ControllerAs Syntax: </h3>
        <p>Parent value: {{parent.value}}</p>
        <button class="btn btn-info" ng-click="parent.changeValue()">Change value</button>
        <div ng-controller="ChildController as child">
            <p>Parent value from inside child: {{parent.value}}</p>
            <button class="btn btn-primary" ng-click="child.check(parent)">Check</button>
            <button class="btn btn-info" ng-click="child.changeValue()">Change value</button>
        </div>
    </div>
</div>


